shamefully-hoist=true
supportedArchitectures[os][]=current
supportedArchitectures[os][]=darwin
supportedArchitectures[os][]=linux
supportedArchitectures[cpu][]=current
supportedArchitectures[cpu][]=arm64
supportedArchitectures[cpu][]=x64
